*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
 *****************************************
 * Section Header =header
 *****************************************
*/

body {
  min-width: 1220px;
}

header {
  height: 80px;
  background-color: #e5e5e5;
}

#logo {
  height: 80px;
  width: 15.57%;
  background-color: #fff;
}

#logo img {
  padding: 20px 0;
}

/*
 *****************************************
 * Section Header =navbar
 *****************************************
*/

nav {
  width: 15.57%;
  float: left;
}

.heading {
  height: 30px;
  background-color: #ddd;
  border-left: 5px solid #ccc;
}

.sub-heading {
  height: 30px;
  background-color: #f1f1f1;
 border-left: 5px solid #ccc;
}

/*
 *****************************************
 * Section Header =aside
 *****************************************
*/

aside {
  float: right;
  width: 440px;
}

.links {
  height: 280px;
}

.one {
  background-color: #ccc;
}

.two {
  background-color: #d6d6d6;
}

/*
 *****************************************
 * Section Header =article
 *****************************************
*/
article {
  overflow: hidden;
}

.paragraph-heading {
  padding-top: 50px;
  height: 85px;
  background-color: #888;
}

.paragraph {
  padding-top: 50px;
  height: 400px;
  background-color: #aaa;
}

.style-one {
  font-family: 'Slabo 27px', serif;
  font-size: 19px;
}

.style-two {
  font-family: 'Bitter', serif;
  font-size: 15px;
}